* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
    text-decoration: underline;
}

.tb {
    display: flex;
    justify-content: center;
}

.thong-bao {
    font-size: 15px;
    margin: 30px;
}